# Programming Data Science Project
# 1. Exploration and Description
## Imports

In [1]:
import yellowcab
import pandas as pd

## a) Column data types

## b) PULocationID, DOLocationID and taxi_zones

## c) Filter and augment the data

In [2]:
yellowcab.io.create_clean_trip_dataset(save=True)

trip_data = yellowcab.io.read_all_files('parquet')

Reading the raw data
Filtering the borough
Adding duration for filtering
Filtering the extreme values
Augmenting the raw data

D:\OneDrive - Universität zu Köln\Uni\PDS\Code\yellowcab\io\utils.py:53: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geo_data["longitude"] = gdf.centroid.x
D:\OneDrive - Universität zu Köln\Uni\PDS\Code\yellowcab\io\utils.py:54: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geo_data["latitude"] = gdf.centroid.y

Trips with location_id above 263 were dropped, since there is no matching geo data.
Resetting index and saving
Done. File is at:D:\OneDrive - Universität zu Köln\Uni\PDS\Code\notebooks\..\data\input\trip_data\clean_data.parquet

## d) Aggregate statistics for trip duration
### Monthly

In [3]:
trips_monthly = pd.DataFrame()
trips_monthly["mean"] = yellowcab.io.get_stats(trip_data, stat="mean")["duration"]
trips_monthly["std"] = yellowcab.io.get_stats(trip_data, stat="std")["duration"]
trips_monthly

             mean           std
month
1      910.508558    753.403614
2      929.626968    870.966423
3      890.360024    746.122644
4      591.207411    581.117412
5      655.437848    599.993095
6      764.104979    682.512126
7      633.737688  67220.997708
8      796.953166    689.009177
9      788.072901    661.149315
10     795.238993    668.233555
11     774.689499   1574.413122
12     781.195004    651.578925

### Daily

In [4]:
trips_daily = pd.DataFrame()
trips_daily["mean"] = yellowcab.io.get_stats(trip_data, time='weekday', stat="mean")["duration"]
trips_daily["std"] = yellowcab.io.get_stats(trip_data, time='weekday', stat="std")["duration"]
trips_daily

               mean           std
weekday
1        880.356487   1454.845310
2        876.106540    735.970000
3        877.429394    727.589680
4        913.045960    780.927459
5        912.227117    778.287449
6        776.070966  29688.501594
7        806.115017   1149.557209

### Hourly

In [5]:
trips_houry = pd.DataFrame()
trips_houry["mean"] = yellowcab.io.get_stats(trip_data, time='hour', stat="mean")["duration"]
trips_houry["std"] = yellowcab.io.get_stats(trip_data, time='hour', stat="std")["duration"]
trips_houry

             mean           std
hour
0      770.722838    581.589678
1      729.401222    576.511930
2      668.395444    507.432140
3      670.218666   3484.723085
4      744.513807    725.889356
5      839.578191    735.890596
6      790.425678   2458.947408
7      827.309113    815.376001
8      855.693484    800.068622
9      827.585051    640.501126
10     820.706991    637.067254
11     818.559055    617.845571
12     843.442260    656.852247
13     889.886311    717.949368
14     971.415760    851.018362
15    1012.574757    911.098872
16    1038.393927    960.269291
17     983.157228    856.767076
18     919.269107    743.429020
19     842.514411   1083.712959
20     765.802034  49330.193318
21     822.783391    609.219958
22     813.907276    587.011185
23     784.906063    569.958929

## e) NYC COVID-19 measures

## f) Further investigation