In [1]:
import yellowcab
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

# pd.set_option('display.max_columns', 200)
# pd.set_option('display.max_rows', 100)
# pd.set_option('display.min_rows', 100)
# pd.set_option('display.expand_frame_repr', True)

In [2]:
trip_data = yellowcab.io.read_all_files('parquet', raw=True)

In [3]:
trip_data = trip_data[["PULocationID", "DOLocationID"]]

In [4]:
trip_data = trip_data[(trip_data["PULocationID"] < 264) & (trip_data["DOLocationID"] < 264)]

In [5]:
len(trip_data)

23572565

In [6]:
geo_data = yellowcab.io.add_location(trip_data[["PULocationID", "DOLocationID"]])

d:\git\pds_brooklyn\yellowcab\io\utils.py:52: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geo_data["longitude"] = gdf.centroid.x
d:\git\pds_brooklyn\yellowcab\io\utils.py:53: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geo_data["latitude"] = gdf.centroid.y

Trips with location_id above 263 were dropped, since there is no matching geo data.
23572565
23572565
23572565
23572565

In [7]:
len(geo_data)

23572565

In [8]:
faulty_ids = trip_data[(trip_data["PULocationID"] == 57) | (trip_data["DOLocationID"] == 57) |
         (trip_data["PULocationID"] == 103) | (trip_data["DOLocationID"] == 103) |
         (trip_data["PULocationID"] == 104) | (trip_data["DOLocationID"] == 104)]

In [9]:
len(faulty_ids)

674

In [10]:
geo_data[(geo_data["PULocationID"] == 57) | (geo_data["DOLocationID"] == 57) |
         (geo_data["PULocationID"] == 103) | (geo_data["DOLocationID"] == 103) |
         (geo_data["PULocationID"] == 104) | (geo_data["DOLocationID"] == 104)]

,PULocationID,DOLocationID,start_location_long,start_location_lat,end_location_long,end_location_lat
30339,186,57,-73.992438,40.748497,-73.853582,40.751819
35836,129,57,-73.885317,40.757312,-73.853582,40.751819
41673,129,57,-73.885317,40.757312,-73.853582,40.751819
60245,261,104,-74.013023,40.709139,-74.040771,40.698769
113043,83,57,-73.892173,40.738324,-73.853582,40.751819
...,...,...,...,...,...,...
23442988,132,57,-73.786533,40.646985,-73.853582,40.751819
23445341,132,57,-73.786533,40.646985,-73.853582,40.751819
23470046,138,57,-73.873629,40.774376,-73.853582,40.751819
23520580,138,57,-73.873629,40.774376,-73.853582,40.751819
23530977,7,57,-73.919694,40.761493,-73.853582,40.751819

In [19]:
gdf = yellowcab.io.read_all_files("geojson")

In [20]:
gdf["location_id"] = gdf["location_id"].astype(int)

In [21]:
len(gdf["location_id"])

263

In [22]:
len(gdf["location_id"].unique())

260

In [23]:
len(gdf["objectid"].unique())

263

In [24]:
gdf[(gdf["location_id"] == 56) | (gdf["location_id"] == 103)]

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry
55,0.000180907844436,56,0.0568478126677,56,Corona,Queens,"MULTIPOLYGON (((-73.85361 40.74750, -73.85325 ..."
56,0.0000180259807917,57,0.0192705048557,56,Corona,Queens,"MULTIPOLYGON (((-73.85131 40.74984, -73.85443 ..."
103,0.00000633056361314,103,0.0143055167343,103,Governor's Island/Ellis Island/Liberty Island,Manhattan,"MULTIPOLYGON (((-74.04389 40.69018, -74.04351 ..."
104,0.0000119205339715,104,0.0212208330928,103,Governor's Island/Ellis Island/Liberty Island,Manhattan,"MULTIPOLYGON (((-74.03995 40.70089, -74.03945 ..."
105,0.000368636392805,105,0.0774253398314,103,Governor's Island/Ellis Island/Liberty Island,Manhattan,"MULTIPOLYGON (((-74.01675 40.69334, -74.01540 ..."

In [25]:
gdf[gdf.duplicated(subset=["location_id"])]

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry
56,0.0000180259807917,57,0.0192705048557,56,Corona,Queens,"MULTIPOLYGON (((-73.85131 40.74984, -73.85443 ..."
104,0.0000119205339715,104,0.0212208330928,103,Governor's Island/Ellis Island/Liberty Island,Manhattan,"MULTIPOLYGON (((-74.03995 40.70089, -74.03945 ..."
105,0.000368636392805,105,0.0774253398314,103,Governor's Island/Ellis Island/Liberty Island,Manhattan,"MULTIPOLYGON (((-74.01675 40.69334, -74.01540 ..."

In [26]:
for i in range(1, 264):
    if(i not in trip_data["PULocationID"].unique()):
        print(i)

103
104
110

In [27]:
for i in range(1, 264):
    if(i not in trip_data["DOLocationID"].unique()):
        print(i)

103
110

In [28]:
for i in range(1, 264):
    if(i not in gdf["location_id"].unique()):
        print(i)

57
104
105

In [29]:
taxi_zones_csv = yellowcab.io.read_all_files("csv")

In [30]:
taxi_zones_csv

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]